<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title><%= app_name %> | <%= page %></title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="https://kit.fontawesome.com/d1603c732b.js" crossorigin="anonymous"></script>

        <link href="styles/style.css" rel="stylesheet">
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="scripts/utils.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light shadow">
                <div class="container">
                    <a class="navbar-brand"><%= app_name %></a>

                    <% if (is_user_page) { %>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href= "#">Contacts</a>
                                </li>
                            </ul>                        
                        </div>

                        <div class="d-flex">
                            <div class="nav-item">
                                <button class="nav-link text-dark btn" href="#" data-bs-toggle="modal" data-bs-target="#notifications-modal"><i class="fa fa-bell"></i></button>
                            </div>
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">    
                                    <strong>User</strong>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Status: Online</a></li>
                                <li><a class="dropdown-item" href="#">Edit profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/logout">Log out</a></li>
                                </ul>
                            </li>
                            </div>
                        </div>
                    <% } %>
                </div>
            </nav>
        </header>
        <main>
            <%- body -%>  
        </main>
        <div class="modal fade" id="notifications-modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Notifications</h5>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Message</th>
                                <th scope="col">Session ID</th>
                                <th scope="col">View</a></th>
                              </tr>
                            </thead>
                            <tbody id="notifs-table">
                              <tr>
                                <th scope="row">1</th>
                                <td>Hello</td>
                                <td>102</td>
                                <td><a href="?session_id=100">View</a></td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

            <% if (is_user_page) { %>
                <script src="scripts/layout.js"></script>
            <% } %>
        </div>
    </body>
</html>