<% layout("layout") %>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card shadow-lg mt-4 w-50">
            <div class="card-body">
                <h5 class="card-title">Register</h5> 

                <hr>
                
                <form method="POST">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control w-75" name="email" required>

                    <br>

                    <label class="form-label">Username</label>
                    <input type="text" class="form-control w-75" name="username" required>

                    <br>

                    <label class="form-label">Password</label>
                    <input type="password" class="form-control w-75" name="password" required>

                    <br>

                    <%- captcha %>

                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>          
    </div>
</div>
