* {
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-nav {
    margin-left: 30px;
}

.navbar-nav .active {
    font-weight: bold;
}

#profile-card {
    width: 60vw;
}

#client-messages-container {
    width: 60vw;
    height: 75vh;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 15px;
    overflow: scroll;
}

#client-message-form {
    width: 60vw;
    height: 75vh;
}

#chats-container {
    width: 380px;
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
}

#client-message-form {
    height: 0px;
}

/* span.num {
    position: absolute;
    font-size: 0.3em;
    top: 1px;
    color: #fff;
    right: 2px;
}

span.fa-comment {
    position: absolute;
    font-size: 0.6em;
    top: -4px;
    color: red;
    right: -4px;
} */

#messages-container {
    height: 75vh;
    width: 65vw;
    overflow: scroll;
    overflow-x: hidden;
}

.message-card {
    border-radius: 15px 15px 15px 0px;
    width: 20rem;
    float: left;
    clear: both;
}

.inverse {
    border-radius: 15px 15px 0px 15px;
    float: right;
}

.card-body {
    padding: 15px;
}

.card-title {
    margin-bottom: 0.1rem;
    margin-top: 0;
}

.card-subtitle {
    margin-bottom: 0;
    margin-top: 0;
}